/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|Raleway:300,400,500,700,800");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 18px/1.2 "Raleway", sans-serif; }

.font-condesed {
  font-family: "PT Sans Narrow", sans-serif; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

.font-sm {
  font-size: 0.5rem; }

.font-md {
  font-size: 0.9rem; }

.text-capitalize {
  text-transform: capitalize; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.m-0 {
  margin: 0rem; }

.mt-n0 {
  margin-top: 0rem; }

.mr-n0 {
  margin-right: 0rem; }

.mb-n0 {
  margin-bottom: 0rem; }

.ml-n0 {
  margin-left: 0rem; }

.mx-n0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-n0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.m-n0 {
  margin: 0rem; }

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-1 {
  margin: 0.5rem; }

.mt-n1 {
  margin-top: -0.5rem; }

.mr-n1 {
  margin-right: -0.5rem; }

.mb-n1 {
  margin-bottom: -0.5rem; }

.ml-n1 {
  margin-left: -0.5rem; }

.mx-n1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.my-n1 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem; }

.m-n1 {
  margin: -0.5rem; }

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-2 {
  margin: 1rem; }

.mt-n2 {
  margin-top: -1rem; }

.mr-n2 {
  margin-right: -1rem; }

.mb-n2 {
  margin-bottom: -1rem; }

.ml-n2 {
  margin-left: -1rem; }

.mx-n2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.my-n2 {
  margin-top: -1rem;
  margin-bottom: -1rem; }

.m-n2 {
  margin: -1rem; }

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-3 {
  margin: 1.5rem; }

.mt-n3 {
  margin-top: -1.5rem; }

.mr-n3 {
  margin-right: -1.5rem; }

.mb-n3 {
  margin-bottom: -1.5rem; }

.ml-n3 {
  margin-left: -1.5rem; }

.mx-n3 {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.my-n3 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem; }

.m-n3 {
  margin: -1.5rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.mt-4 {
  margin-top: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-4 {
  margin: 2rem; }

.mt-n4 {
  margin-top: -2rem; }

.mr-n4 {
  margin-right: -2rem; }

.mb-n4 {
  margin-bottom: -2rem; }

.ml-n4 {
  margin-left: -2rem; }

.mx-n4 {
  margin-left: -2rem;
  margin-right: -2rem; }

.my-n4 {
  margin-top: -2rem;
  margin-bottom: -2rem; }

.m-n4 {
  margin: -2rem; }

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.pr-5 {
  padding-right: 2.5rem; }

.mt-5 {
  margin-top: 2.5rem; }

.mr-5 {
  margin-right: 2.5rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.ml-5 {
  margin-left: 2.5rem; }

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.m-5 {
  margin: 2.5rem; }

.mt-n5 {
  margin-top: -2.5rem; }

.mr-n5 {
  margin-right: -2.5rem; }

.mb-n5 {
  margin-bottom: -2.5rem; }

.ml-n5 {
  margin-left: -2.5rem; }

.mx-n5 {
  margin-left: -2.5rem;
  margin-right: -2.5rem; }

.my-n5 {
  margin-top: -2.5rem;
  margin-bottom: -2.5rem; }

.m-n5 {
  margin: -2.5rem; }

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.m-0 {
  margin: 0rem; }

.mt-n0 {
  margin-top: 0rem; }

.mr-n0 {
  margin-right: 0rem; }

.mb-n0 {
  margin-bottom: 0rem; }

.ml-n0 {
  margin-left: 0rem; }

.mx-n0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.my-n0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.m-n0 {
  margin: 0rem; }

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.pr-1 {
  padding-right: 0.5rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.ml-1 {
  margin-left: 0.5rem; }

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.m-1 {
  margin: 0.5rem; }

.mt-n1 {
  margin-top: -0.5rem; }

.mr-n1 {
  margin-right: -0.5rem; }

.mb-n1 {
  margin-bottom: -0.5rem; }

.ml-n1 {
  margin-left: -0.5rem; }

.mx-n1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.my-n1 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem; }

.m-n1 {
  margin: -0.5rem; }

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.pr-2 {
  padding-right: 1rem; }

.mt-2 {
  margin-top: 1rem; }

.mr-2 {
  margin-right: 1rem; }

.mb-2 {
  margin-bottom: 1rem; }

.ml-2 {
  margin-left: 1rem; }

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.m-2 {
  margin: 1rem; }

.mt-n2 {
  margin-top: -1rem; }

.mr-n2 {
  margin-right: -1rem; }

.mb-n2 {
  margin-bottom: -1rem; }

.ml-n2 {
  margin-left: -1rem; }

.mx-n2 {
  margin-left: -1rem;
  margin-right: -1rem; }

.my-n2 {
  margin-top: -1rem;
  margin-bottom: -1rem; }

.m-n2 {
  margin: -1rem; }

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.pr-3 {
  padding-right: 1.5rem; }

.mt-3 {
  margin-top: 1.5rem; }

.mr-3 {
  margin-right: 1.5rem; }

.mb-3 {
  margin-bottom: 1.5rem; }

.ml-3 {
  margin-left: 1.5rem; }

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.m-3 {
  margin: 1.5rem; }

.mt-n3 {
  margin-top: -1.5rem; }

.mr-n3 {
  margin-right: -1.5rem; }

.mb-n3 {
  margin-bottom: -1.5rem; }

.ml-n3 {
  margin-left: -1.5rem; }

.mx-n3 {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.my-n3 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem; }

.m-n3 {
  margin: -1.5rem; }

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.pr-4 {
  padding-right: 2rem; }

.mt-4 {
  margin-top: 2rem; }

.mr-4 {
  margin-right: 2rem; }

.mb-4 {
  margin-bottom: 2rem; }

.ml-4 {
  margin-left: 2rem; }

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.m-4 {
  margin: 2rem; }

.mt-n4 {
  margin-top: -2rem; }

.mr-n4 {
  margin-right: -2rem; }

.mb-n4 {
  margin-bottom: -2rem; }

.ml-n4 {
  margin-left: -2rem; }

.mx-n4 {
  margin-left: -2rem;
  margin-right: -2rem; }

.my-n4 {
  margin-top: -2rem;
  margin-bottom: -2rem; }

.m-n4 {
  margin: -2rem; }

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.pr-5 {
  padding-right: 2.5rem; }

.mt-5 {
  margin-top: 2.5rem; }

.mr-5 {
  margin-right: 2.5rem; }

.mb-5 {
  margin-bottom: 2.5rem; }

.ml-5 {
  margin-left: 2.5rem; }

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.m-5 {
  margin: 2.5rem; }

.mt-n5 {
  margin-top: -2.5rem; }

.mr-n5 {
  margin-right: -2.5rem; }

.mb-n5 {
  margin-bottom: -2.5rem; }

.ml-n5 {
  margin-left: -2.5rem; }

.mx-n5 {
  margin-left: -2.5rem;
  margin-right: -2.5rem; }

.my-n5 {
  margin-top: -2.5rem;
  margin-bottom: -2.5rem; }

.m-n5 {
  margin: -2.5rem; }

.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.no-gutter [class*=col-] {
  padding-left: 0;
  padding-right: 0; }

.col-1 {
  width: 8.3333333333%; }

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%; } }

.col-2 {
  width: 16.6666666667%; }

@media (min-width: 768px) {
  .col-md-2 {
    width: 16.6666666667%; } }

@media (min-width: 992px) {
  .col-lg-2 {
    width: 16.6666666667%; } }

.col-3 {
  width: 25%; }

@media (min-width: 768px) {
  .col-md-3 {
    width: 25%; } }

@media (min-width: 992px) {
  .col-lg-3 {
    width: 25%; } }

.col-4 {
  width: 33.3333333333%; }

@media (min-width: 768px) {
  .col-md-4 {
    width: 33.3333333333%; } }

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.3333333333%; } }

.col-5 {
  width: 41.6666666667%; }

@media (min-width: 768px) {
  .col-md-5 {
    width: 41.6666666667%; } }

@media (min-width: 992px) {
  .col-lg-5 {
    width: 41.6666666667%; } }

.col-6 {
  width: 50%; }

@media (min-width: 768px) {
  .col-md-6 {
    width: 50%; } }

@media (min-width: 992px) {
  .col-lg-6 {
    width: 50%; } }

.col-7 {
  width: 58.3333333333%; }

@media (min-width: 768px) {
  .col-md-7 {
    width: 58.3333333333%; } }

@media (min-width: 992px) {
  .col-lg-7 {
    width: 58.3333333333%; } }

.col-8 {
  width: 66.6666666667%; }

@media (min-width: 768px) {
  .col-md-8 {
    width: 66.6666666667%; } }

@media (min-width: 992px) {
  .col-lg-8 {
    width: 66.6666666667%; } }

.col-9 {
  width: 75%; }

@media (min-width: 768px) {
  .col-md-9 {
    width: 75%; } }

@media (min-width: 992px) {
  .col-lg-9 {
    width: 75%; } }

.col-10 {
  width: 83.3333333333%; }

@media (min-width: 768px) {
  .col-md-10 {
    width: 83.3333333333%; } }

@media (min-width: 992px) {
  .col-lg-10 {
    width: 83.3333333333%; } }

.col-11 {
  width: 91.6666666667%; }

@media (min-width: 768px) {
  .col-md-11 {
    width: 91.6666666667%; } }

@media (min-width: 992px) {
  .col-lg-11 {
    width: 91.6666666667%; } }

.col-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-md-12 {
    width: 100%; } }

@media (min-width: 992px) {
  .col-lg-12 {
    width: 100%; } }

.card-body {
  font-size: 1.2rem;
  font-weight: 500; }
  .card-body .card-title {
    color: #000; }
  .card-body .card-text {
    color: gray; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row; } }

.jusitify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

/* customizing */
body {
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

.sample-bg-1 {
  background-color: #03e; }

.sample-bg-2 {
  background-color: #f3e; }

.w-inherit {
  width: inherit; }

.w-100 {
  width: 100%; }

.sample-h {
  height: 20rem; }

.top-img {
  width: 80%; }

#top-picks img {
  width: 100%; }
