/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|Raleway:300,400,700,800");
/* line 6, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 95, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
body {
  line-height: 1;
}

/* line 111, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 115, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 119, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 126, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
body {
  font: 18px "Raleway", sans-serif;
}

/* line 13, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.menu {
  font-family: "PT Sans Narrow", sans-serif;
}

/* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h1 {
  font-size: 6rem;
}

/* line 21, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h2 {
  font-size: 5rem;
}

/* line 24, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h3 {
  font-size: 3rem;
}

/* line 27, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h4 {
  font-size: 2rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h5 {
  font-size: 1.5rem;
}

/* line 33, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h6 {
  font-size: 1rem;
}

/* line 37, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm {
  font-size: 0.5rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-md {
  font-size: 0.9rem;
}

/* line 1, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.d-flex {
  display: flex;
}

/* line 5, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.flex-column {
  flex-direction: column;
}

@media (min-width: 768px) {
  /* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
  .flex-md-row {
    flex-direction: row;
  }
}

/* line 15, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.jusitify-content-between {
  justify-content: space-between;
}

/* line 3, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* line 8, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
[class*=col-] {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-1 {
  width: 8.33333%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-2 {
  width: 16.66667%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-2 {
    width: 16.66667%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-3 {
  width: 25%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-4 {
  width: 33.33333%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-5 {
  width: 41.66667%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-5 {
    width: 41.66667%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-6 {
  width: 50%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-7 {
  width: 58.33333%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-8 {
  width: 66.66667%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-8 {
    width: 66.66667%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-9 {
  width: 75%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-10 {
  width: 83.33333%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-11 {
  width: 91.66667%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-11 {
    width: 91.66667%;
  }
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 17, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }
}

/* line 8, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-bg-1 {
  background-color: #03e;
}

/* line 12, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-bg-2 {
  background-color: #f3e;
}

/* line 16, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.w-100 {
  width: 100%;
}

/* line 20, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-h {
  height: 20rem;
}

/*# sourceMappingURL=main.css.map */