/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|Raleway:300,400,500,700,800");
/* line 6, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 95, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
body {
  line-height: 1;
}

/* line 111, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 115, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 119, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 126, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 8, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
body {
  font: 18px/1.2 "Raleway", sans-serif;
}

/* line 12, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-condesed {
  font-family: "PT Sans Narrow", sans-serif;
}

/* line 16, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h1 {
  font-size: 6rem;
}

/* line 20, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h2 {
  font-size: 5rem;
}

/* line 24, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h3 {
  font-size: 3rem;
}

/* line 28, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h4 {
  font-size: 2rem;
}

/* line 32, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h5 {
  font-size: 1.5rem;
}

/* line 36, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
h6 {
  font-size: 1rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm-1 {
  font-size: 0.6rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm-2 {
  font-size: 0.7rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm-3 {
  font-size: 0.8rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm-4 {
  font-size: 0.9rem;
}

/* line 41, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.font-sm-5 {
  font-size: 1rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_font.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-0 {
  margin-top: 0rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-0 {
  margin-right: 0rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-0 {
  margin-bottom: 0rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-0 {
  margin-left: 0rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-0 {
  margin: 0rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n0 {
  margin-top: 0rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n0 {
  margin-right: 0rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n0 {
  margin-bottom: 0rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n0 {
  margin-left: 0rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n0 {
  margin: 0rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-1 {
  margin-top: 0.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-1 {
  margin-right: 0.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-1 {
  margin-bottom: 0.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-1 {
  margin-left: 0.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-1 {
  margin: 0.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n1 {
  margin-top: -0.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n1 {
  margin-right: -0.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n1 {
  margin-bottom: -0.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n1 {
  margin-left: -0.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n1 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n1 {
  margin: -0.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-2 {
  margin-top: 1rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-2 {
  margin-right: 1rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-2 {
  margin-bottom: 1rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-2 {
  margin-left: 1rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-2 {
  margin: 1rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n2 {
  margin-top: -1rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n2 {
  margin-right: -1rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n2 {
  margin-bottom: -1rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n2 {
  margin-left: -1rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n2 {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n2 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n2 {
  margin: -1rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-3 {
  margin-top: 1.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-3 {
  margin-right: 1.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-3 {
  margin-bottom: 1.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-3 {
  margin-left: 1.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-3 {
  margin: 1.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n3 {
  margin-top: -1.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n3 {
  margin-right: -1.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n3 {
  margin-bottom: -1.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n3 {
  margin-left: -1.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n3 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n3 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n3 {
  margin: -1.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-4 {
  margin-top: 2rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-4 {
  margin-right: 2rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-4 {
  margin-bottom: 2rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-4 {
  margin-left: 2rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-4 {
  margin: 2rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n4 {
  margin-top: -2rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n4 {
  margin-right: -2rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n4 {
  margin-bottom: -2rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n4 {
  margin-left: -2rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n4 {
  margin-left: -2rem;
  margin-right: -2rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n4 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n4 {
  margin: -2rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-5 {
  margin-top: 2.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-5 {
  margin-right: 2.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-5 {
  margin-left: 2.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-5 {
  margin: 2.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n5 {
  margin-top: -2.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n5 {
  margin-right: -2.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n5 {
  margin-bottom: -2.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n5 {
  margin-left: -2.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n5 {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n5 {
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n5 {
  margin: -2.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-0 {
  margin-top: 0rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-0 {
  margin-right: 0rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-0 {
  margin-bottom: 0rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-0 {
  margin-left: 0rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-0 {
  margin: 0rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n0 {
  margin-top: 0rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n0 {
  margin-right: 0rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n0 {
  margin-bottom: 0rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n0 {
  margin-left: 0rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n0 {
  margin: 0rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-1 {
  margin-top: 0.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-1 {
  margin-right: 0.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-1 {
  margin-bottom: 0.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-1 {
  margin-left: 0.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-1 {
  margin: 0.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n1 {
  margin-top: -0.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n1 {
  margin-right: -0.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n1 {
  margin-bottom: -0.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n1 {
  margin-left: -0.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n1 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n1 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n1 {
  margin: -0.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-2 {
  margin-top: 1rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-2 {
  margin-right: 1rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-2 {
  margin-bottom: 1rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-2 {
  margin-left: 1rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-2 {
  margin: 1rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n2 {
  margin-top: -1rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n2 {
  margin-right: -1rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n2 {
  margin-bottom: -1rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n2 {
  margin-left: -1rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n2 {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n2 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n2 {
  margin: -1rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-3 {
  margin-top: 1.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-3 {
  margin-right: 1.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-3 {
  margin-bottom: 1.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-3 {
  margin-left: 1.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-3 {
  margin: 1.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n3 {
  margin-top: -1.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n3 {
  margin-right: -1.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n3 {
  margin-bottom: -1.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n3 {
  margin-left: -1.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n3 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n3 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n3 {
  margin: -1.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-4 {
  margin-top: 2rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-4 {
  margin-right: 2rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-4 {
  margin-bottom: 2rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-4 {
  margin-left: 2rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-4 {
  margin: 2rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n4 {
  margin-top: -2rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n4 {
  margin-right: -2rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n4 {
  margin-bottom: -2rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n4 {
  margin-left: -2rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n4 {
  margin-left: -2rem;
  margin-right: -2rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n4 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n4 {
  margin: -2rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* line 14, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-5 {
  margin-top: 2.5rem;
}

/* line 18, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-5 {
  margin-right: 2.5rem;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* line 26, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-5 {
  margin-left: 2.5rem;
}

/* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 40, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-5 {
  margin: 2.5rem;
}

/* line 44, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mt-n5 {
  margin-top: -2.5rem;
}

/* line 48, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mr-n5 {
  margin-right: -2.5rem;
}

/* line 52, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mb-n5 {
  margin-bottom: -2.5rem;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.ml-n5 {
  margin-left: -2.5rem;
}

/* line 60, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.mx-n5 {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

/* line 65, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.my-n5 {
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_gutter.scss */
.m-n5 {
  margin: -2.5rem;
}

/* line 4, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
[class*=col-] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* line 15, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.no-gutter [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-1 {
  width: 8.33333%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-1 {
    width: 8.33333%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-2 {
  width: 16.66667%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-2 {
    width: 16.66667%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-3 {
  width: 25%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-3 {
    width: 25%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-4 {
  width: 33.33333%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-4 {
    width: 33.33333%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-5 {
  width: 41.66667%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-5 {
    width: 41.66667%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-6 {
  width: 50%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-6 {
    width: 50%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-7 {
  width: 58.33333%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-7 {
    width: 58.33333%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-8 {
  width: 66.66667%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-8 {
    width: 66.66667%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-9 {
  width: 75%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-9 {
    width: 75%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-10 {
  width: 83.33333%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-10 {
    width: 83.33333%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-11 {
  width: 91.66667%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-11 {
    width: 91.66667%;
  }
}

/* line 22, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
.col-12 {
  width: 100%;
}

@media (min-width: 768px) {
  /* line 25, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  /* line 30, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/Layout/_grid.scss */
  .col-lg-12 {
    width: 100%;
  }
}

/* line 2, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/components/_card.scss */
.card {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* line 7, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/components/_card.scss */
.card-img {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

/* line 12, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/components/_card.scss */
.card-body {
  font-size: 1.2rem;
  font-weight: 500;
}

/* line 15, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/components/_card.scss */
.card-body .card-title {
  color: #000;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

/* line 20, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/components/_card.scss */
.card-body .card-text {
  font-size: 1.1rem;
  color: gray;
}

/* line 1, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.d-flex {
  display: flex;
}

/* line 5, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.flex-column {
  flex-direction: column;
}

@media (min-width: 768px) {
  /* line 9, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
  .flex-md-row {
    flex-direction: row;
  }
}

/* line 15, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.jusitify-content-between {
  justify-content: space-between;
}

/* line 19, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/_display.scss */
.justify-content-center {
  justify-content: center;
}

/* customizing */
/* line 11, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
body {
  overflow-x: hidden;
}

/* line 15, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-bg-1 {
  background-color: #03e;
}

/* line 23, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-bg-2 {
  background-color: #f3e;
}

/* line 27, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.w-inherit {
  width: inherit;
}

/* line 31, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.w-100 {
  width: 100%;
}

/* line 35, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
.sample-h {
  height: 20rem;
}

/* line 39, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#top-picks img {
  width: 100%;
}

/* line 43, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#top-navbar {
  border-bottom: lightgray 0.5px solid;
}

/* line 49, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#top-navbar-left li {
  padding: 1rem 0.8rem;
  border-right: lightgray 0.5px solid;
}

/* line 56, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#top-navbar-right li {
  padding: 1rem 0.8rem;
}

/* line 61, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#second-navbar {
  border-bottom: lightgray 0.5px solid;
}

/* line 64, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#second-navbar img {
  height: 1.6rem;
  margin: 0.5rem 0.5rem;
}

/* line 70, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#second-navbar li {
  padding: 1rem 0.8rem;
}

/* line 74, ../../../../../Users/kelvin/projects/web/clone-nike/assets/framework/main.scss */
#second-navbar input {
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */