
@import "gutter";
$column-n: 12;

.row {
  margin-left: -$gutter*1rem;
  margin-right: -$gutter*1rem;
  box-sizing: content-box;
}

[class*=col-] {
  padding-left: $gutter*1rem;
  padding-right: $gutter*1rem;
}

.no-gutter {
  [class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin column-generator($screen) {
  $n: $column-n;
  @if $screen == sm {
    @for $i from 1 through $n {
      .col-#{$i} {
        width: 100*$i/$column-n*1%;
      }
    }
  }
  @else {
    @for $i from 1 through $n {
      .col-#{$screen}-#{$i} {
        @include screen-only($screen) {
          width: 100*$i/$column-n*1%;
        }
      }
    }
  }
}

@for $i from 0 to length($screen) {
  @include column-generator(#{nth($screen,$i+1)});
}
