
.link-no-decoration {
  a {
    text-decoration: none;
  }
}

.link-decoration {
  a:hover {
    text-decoration: underline;
  }
}

.link-gray-black {
  a {
    color: gray;
  }

  a:hover {
    color: black;
  }
}

.link-white {
  a {
    color: white;
  }

}

.link-gray-white {
  a {
    color: gray;
  }

  a:hover {
    color: white;
  }
}

.link-black {
  a {
    color: black;
  }
}
