$display-style: "flex", "block", "none";

@mixin display-generator($size) {
  @if $size==sm {
    @for $i from 0 to length($display-style) {
      .d-#{nth($display-style,$i+1)} {
        display: #{nth($display-style,$i+1)};
      }
    }
  }
  @else {
    @for $i from 0 to length($display-style) {
      @include screen-only($size) {
        .d-#{$size}-#{nth($display-style,$i+1)} {
          display: #{nth($display-style,$i+1)};
        }
      }
    }
  }
}

@for $i from 0 to length($screen) {
  @include display-generator(#{nth($screen,$i+1)});
}

.flex-column {
  flex-direction: column;
}

.flex-md-row {
  @include screen-only(md) {
    flex-direction: row;
  }
}

.jusitify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-bottom {
  align-items: flex-end;
}

.justify-content-md-start {
  @include screen-only(md) {
    justify-content: flex-start;
  }
}

.justify-content-md-end {
  @include screen-only(md) {
    justify-content: flex-end;
  }
}

.justify-content-lg-center {
  @include screen-only(lg) {
    justify-content: center;
  }
}
