.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-md-row {
  @include screen-only(md) {
    flex-direction: row;
  }
}

.jusitify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

// d-none d-md-block
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-md-none {
  @include screen-only(md) {
    display: none;
  }
}

.d-md-block {
  @include screen-only(md) {
    display: block;
  }
}

//.d-md {
//  &-block:
//}