@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|Raleway:300,400,700,800");

// font-family: 'Raleway', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;

$default-font: "Raleway", sans-serif;
$menu-font: "PT Sans Narrow", sans-serif;

body {
  font: 18px $default-font;
}

.menu {
  font-family: $menu-font;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

.font-sm {
  font-size: 0.5rem;
}

.font-md {
  font-size: 0.9rem;
}
