@import "reset";
@import "font";
@import "media";
@import "./Layout/gutter";
@import "./Layout/grid";
@import "./components/card";
@import "display";
@import "position";
@import "color";

/* customizing */

$header-size-lg: 120/18;
$header-size-md: 120/18/1.6;
$border-gray: lightgray 0.5px solid;
$border-darkergray:#555 0.3px solid;
$border-normal: 1px black solid;
$border-thick: 2px black solid;

ul li {
  padding: 0.7rem 0.8rem;
}

#footer-links li {
  padding: 0.4rem 0.7rem;
}



body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.sample-bg-1 {
  background-color: #03e;
}

.sample-bg-2 {
  background-color: #f3e;
}

.w-inherit {
  width: inherit;
}

.w-100 {
  width: 100%;
}

.h-inherit {
  height: inherit;
}

.h-100 {
  height: 100%;
}

.sample-h {
  height: 20rem;
}

.fit-cover {
  object-fit: cover;
}

.fit-contain {
  object-fit: contain;
}

button {
  cursor: pointer;
}

.z-index-1 {
  z-index: 5;
}

.z-index-2 {
  z-index: 10;
}

.border {
  border: $border-normal;
}

.border-bottom-gray {
  border-bottom: $border-gray;
}

.border-bottom-darkergray {
  border-bottom: $border-darkergray;
}


#top-img .card-img {
  height: 500/18*1rem;
  background: #aaf url(./../images/top-img-sm.png) 100% 20%/cover no-repeat;

  @include screen-only(md) {
    height: 700/18*1rem;
    background: #aaf url(./../images/top-img.png) 50% 100%/cover no-repeat;
  }
}

#top-picks img,
#trend-bottom img {
  width: 100%;
}

#trend-top .card-img {
  //width: 100%;
  height: 520/18*1rem;
  background: #aaf url(./../images/zzgm5necqg3lvbjp2sj5_result.png) 100%/cover no-repeat;

  @include screen-only(xs) {
    height: 700/18*1rem;
    background: #aaf url(./../images/wvfvvgzzbvtpmqeutpof_result.png) 50%/cover no-repeat;
  }
}

#top-navbar-left {
  li {
    border-right: $border-gray;
  }
}

#top-navbar-right {
  li:hover {
    border-bottom: $border-thick;
  }
}

#second-navbar {
  padding: 0 1.2rem;

  img {
    height: 1.4rem;
  }

  li {
    padding: 1.3rem 0.8rem;

    &:hover {
      border-bottom: $border-thick;
    }
  }

  input {
    height: 2.8rem;
    width: 12rem;
    padding: 0.3rem;
  }

}





#message-bar {
  padding-top: $header-size-md * 1rem;

  @include screen-only(lg) {
    padding-top: $header-size-lg * 1rem;
  }

}