@import "reset";
@import "font";
@import "media";
@import "./Layout/gutter";
@import "./Layout/grid";
@import "./components/card";
@import "display";
@import "color";

/* customizing */
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

.sample-bg-1 {
  background-color: #03e;
}

.sample-bg-2 {
  background-color: #f3e;
}

.w-inherit {
  width: inherit;
}

.w-100 {
  width: 100%;
}

.sample-h {
  height: 20rem;
}

.top-img {
  width: 80%;
}

#top-picks img {
  width: 100%;
}
